
{{!-- <form id="create-menu" method="post" action="/new-menu">
}}<div class="form-group">
    <label for="menu-name">Menu Name:</label>
    <input type="text" class="form-control"  id="menu-name" name="title" required aria-describedby="titleHelp" 
    placeholder="Enter menu">
    </div>
    <button type="submit" class="btn btn-primary">Submit the Menu </button>
</form> --