<h1>Restaurant Form</h1>
<form id="create-restaurant" method="post" action="/new-restaurant">
<div class="form-group">
    <label for="restaurant-name">Restaurant Name:</label>
    <input type="text" class="form-control"  id="restaurant-name" name="name" required aria-describedby="nameHelp" 
    placeholder="Enter name">
    </div>
<div class="form-group">
    <label for="restaurant-image">Upload a image:</label>
    <input type="text" id="restaurant-name" name="image" required/>
</div>
<button type="submit" class="btn btn-primary">Submit the form </button>
</form>

























{{!-- <h1>Menu Form</h1>
<form id="create-menu" method="post" action="/new-menu">
<div class="form-group">
    <label for="menu-name">Menu Name:</label>
    <input type="text" class="form-control"  id="menu-name" name="title" required aria-describedby="titleHelp" 
    placeholder="Enter menu">
    </div>
    <button type="submit" class="btn btn-primary">Submit the Menu </button>
</form>

<h1>Item Form</h1>
<form id="create-item" method="post" action="/new-item">
<div class="form-group">
    <label for="item-name">Enter Name:</label>
    <input type="text" class="form-control"  id="item-name" name="title" required aria-describedby="titleHelp" 
    placeholder="Enter name">
    </div>
    <div class="form-group">
    <label for="item-price">Enter price:</label>
    <input id="item-price" name="price"  class="form-control"placeholder="Enter price" required>
</div>
    <button type="submit" class="btn btn-primary">Submit the Item</button>
</form>  --}}